@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import 'nav_bar';
@import 'pastprojects';
@import 'contact';
@import 'other';

$dusty-red : #994636;
$dusty-blue: #88958D;
$dusty-tan : #DBD8AE;
$white: #ffffff;
$dusty-green: #ADAA91;

*{
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
	display: inline-block;
	position: relative;
	float: left;
	font-family: 'Roboto Mono', monospace;
}
main{
	z-index: 0;
}
.container_100w{
	display: inline-flex;
	height: 100%;
	width: 100%;
	background: #fff;
	vertical-align: top;
	position: relative;

}
.container_50h{
	display: inline-flex;
	height: 50vh;
	min-height: 320px;
	width: 100vw;
	background: #fff;
	vertical-align: top;
	position: relative;
}
.container_50w{
	display: inline-flex;
	height: 100%;
	min-height: 320px;
	width: 50%;
	background: #fff;
	vertical-align: top;
	horizontal-align: left;
	position: relative;
}
.container_25w{
	display:inline-flex;
	height: 100%;
	width: 25vw;
	background: #fff;
	horizontal-align: left;
	float: left;
	position: relative;
}
.container_25h{
	display:inline-flex;
	height: 25vh;
	min-height: 320px;
	width: 100vw;
	background: #fff;
	horizontal-align: left;
	float: left;
	position: relative;
}
.container_33w{
	display:inline-flex;
	height: 100vh;
	width: 33.33%;
	background: #fff;
	horizontal-align: left;
	float: left;
	position: relative;
}
.container_33h{
	display:inline-flex;
	height: 33.33vh;
	width: 100vw;
	background: #fff;
	horizontal-align: left;
	float: left;
	position: relative;
}
.container_66w{
	display:inline-flex;
	height: 100%;
	width: 66.66%;
	background: #fff;
	horizontal-align: left;
	float: left;
	position: relative;
}
.container_50w_25h{
	display: inline-flex;
	height:25%;
	width: 50%;
	background: #fff;
	float: left;
	position:relative;
}
#id3{
	background-image : url("/StockPhotos/briannow5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#id5{
	background-image : url("/StockPhotos/briannow.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#id8{
	background-image : url("/StockPhotos/technow2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.text_label_1{
	text-decoration : none;
	font-weight: 700;
	font-size: 2em;
	text-align: left;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%,-50%);
}
.black_font{
	color: white;
}
.text_label_break{
	display:none;
}
.header_con{
	position: relative;
	display: inline-flex;
}
footer{
	height: 300px;
	width:100vw;
	display: inline-flex;
	background: black;
	position:relative;
	color: white;
}
details summary::-webkit-details-marker { display:none; }
summary{
	margin: 0;
	outline: none;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
#detail_item1{
	margin: 0;
	background: transparent;
	position: absolute;
	bottom: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%,-50%);
}


@media only screen
and (min-width: 320px){

}
@media only screen
and (min-width: 480px){
	.text_label_1{
		font-size: 2.2em;
	}
	#id14{
		display:inline-flex;
		height: 50vh;
		width: 100%;
		background: $dusty-blue;
		horizontal-align: left;
		float: left;
	}
	#id34{
		display:inline-flex;
		height: 50vh;
		width: 100%;
		background: $dusty-blue;
		horizontal-align: left;
		float: left;
	}
	#id18{
		display:inline-flex;
		height: 35vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id19{
		display:inline-flex;
		height: 35vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id20{
		display:inline-flex;
		height: 35vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id21{
		display:inline-flex;
		height: 35vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id23{
		display:inline-flex;
		height: 35vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id24{
		display:inline-flex;
		height: 35vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
}
@media only screen
and (min-width: 768px){
	.text_label_1{
		font-size: 2.8em;
	}
	#id10{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id11{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id12{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id13{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id14{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id15{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id17{
		display:inline-flex;
		height: 50vh;
		width: 100%;
		horizontal-align: left;
		float: left;
	}
	#id30{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id31{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id32{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id33{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id34{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id35{
		display:inline-flex;
		height: 50vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id18{
		display:inline-flex;
		height: 40vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id19{
		display:inline-flex;
		height: 40vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id20{
		display:inline-flex;
		height: 40vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id21{
		display:inline-flex;
		height: 40vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id22{
		display:inline-flex;
		height: 30vh;
		width: 100%;
		horizontal-align: left;
		float: left;
	}
	#id23{
		display:inline-flex;
		height: 40vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id24{
		display:inline-flex;
		height: 40vh;
		width: 50%;
		horizontal-align: left;
		float: left;
	}
	#id25{
		display:inline-flex;
		height: 40vh;
		width: 100%;
		horizontal-align: left;
		float: left;
	}
}
@media only screen
and (min-width: 968px){
	.mobile_visibility{
		visibility: none;
	}
	.text_label_1{
		font-size: 3.1em;
	}	
	.text_label_break{
		display:block;
	}
	.container_33h{
		display:inline-flex;
		height: 100vh;
		width: 33.33%;
		background: $dusty-tan;
		horizontal-align: left;
		float: left;
	}
	#id10{
		width: 33.33%;
	}
	#id11{
		width: 33.33%;
	}
	#id12{
		width: 33.33%;
	}
	#id13{
		width: 50%;
	}
	#id16{
		width: 50%;
	}

	#id18{
		display:inline-flex;
		height: 40vh;
		width: 25%;
		horizontal-align: left;
		float: left;
	}
	#id19{
		display:inline-flex;
		height: 40vh;
		width: 25%;
		horizontal-align: left;
		float: left;
	}
	#id20{
		display:inline-flex;
		height: 40vh;
		width: 25%;
		horizontal-align: left;
		float: left;
	}
	#id21{
		display:inline-flex;
		height: 40vh;
		width: 25%;
		horizontal-align: left;
		float: left;
	}
	#id22{
		display:inline-flex;
		height: 40vh;
		width: 100%;
		horizontal-align: left;
		float: left;
	}
	#id23{
		height: 50vh;
		width: 33.33%
	}
	#id24{
		height: 50vh;
		width: 33.33%
	}
	#id25{
		height: 50vh;
		width: 33.33%
	}
	.hover_label{
		display: none;
	}
}